* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/************ UTILITES (GLOBAL STYLES)  ******************/
.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
}

.badge-primary {
  background-color: #003699;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

/************ BUTTONS (GLOBAL STYLES)  ******************/
.link {
  text-decoration: none;
  color: #fff;
}
.btn {
  cursor: pointer;
}

.btn-standard {
  background-color: #333333;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #003699;
}

.btn-clear {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: #f4f4f4;
  margin-top: 10px;
}

/************ FORM (GLOBAL STYLES)  ******************/
.form-container {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 5px;
}
